@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro&display=swap');

* {
    font-family: 'Source Sans Pro';
}

body {
    margin: 8px;
    overflow: hidden;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 80%;
}

button {
	display: block;
	background: transparent;
	border: none;
	width: 100%;
}

.indexer-overlay {
    opacity: 0.75;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
	justify-content: space-around;
}

.search-bar-container {
    display: relative;
}

.search-bar-container img {
    width: 18px;
    opacity: 0.7;
    margin-top: 8px;
    margin-left: 8px;
    position: absolute;
}

#search-bar {
    padding: 8px 16px 8px 36px;
    width: 300px;
    outline: none;
    font-size: 1.2em;

    border: solid 1px rgba(0,0,0,0.5);
    border-radius: 4px;
    box-shadow: 2px 2px 4px 0.1px rgba(0,0,0,0.3);
}

.result-buttons button {
    padding: 6px;
    width: 340px;
    outline: none;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;

    border: solid 1px rgba(0,0,0,0.5);
    background: rgba(255,255,255,0.7);
}

.result-buttons button:focus {
    background: white;
    font-size: 1.2em;
    border: solid 1px rgba(0,0,0,0.7);
}

.result-buttons button > span:first-child {
    font-weight: bold;
    font-size: 1.1em;
}

.result-buttons button > span:last-child {
    font-style: italic;
    font-size: 0.9em;
    margin-left: 4px;

    color: #444;
}

.result-buttons button:first-child {
    margin-top: 7px;
    border-radius: 4px 4px 0px 0px;
}

.result-buttons button:nth-child(n+2) {
    border-top: none;
}

.result-buttons button:last-child {
    border-radius: 0px 0px 4px 4px;
}