#topArea {
    background: rgba(0,0,0,0.7);
    border: 1px solid #333;
}
#searchBar {
    background: transparent;
    color: white;
}
#scrollAreaContents {
    background: rgba(0,0,0,0.9);
    border: 1px solid #333;
}
#scrollAreaContents > QPushButton {
    border: none;
    border-top: #ddd solid 1px;
    outline: none;
}
#scrollAreaContents > QPushButton:hover,
#scrollAreaContents > QPushButton:focus {
    background: #333;
}
