.search-bar {
    background: rgb(30,30,30);
    color: #aaa;
}

.result-buttons button {
    background: rgba(30,30,30,0.85);
    color: white;
}

.result-buttons button:focus {
    background: rgba(30,30,30,1);
}

.search-bar-container img {
    color: invert;
}
